*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

h1 {
  font-size: 100px;
  white-space: nowrap;
  text-decoration: underline;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: aqua;
}

.nav div {
  display: flex;
  align-items: center;
  gap: 40px;
}